
body 
{
	font-family: Arial, Helvetica, sans-serif;
}

h1
{
	padding-top:20px; 
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
 
}

table 
{     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; 
    margin: auto;
}

th 
{     
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
    text-align: center;
}

td {    
	padding: 8px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
    text-align: center;
}

tr:hover td 
{ 
	background: #d0dafd; 
	color: #339; 
}

button
{
	display:block;
  margin-left: auto;
  margin-right: auto;
}